div#fijo_izquierda {
    /*position: absolute;*/
    /*left: 10%;*/
    left: 30px;
    top: 50px;
    width: 100px;
    height: 100px;
    border: #663366 5px double;
    }
    div#fijo_derecha {
    position: absolute;
    /*right: 10%;*/
    right: 30px;
    top: 50px;
    width: 100px;
    height: 100px;
    border: #663366 5px double;
    }
    div#columna {
    width: 50%;
    margin: auto;
    }
    .verde, .azul {
    height: 500px;
    border: #006666 5px dashed;
    border-width: 0 5px 5px 5px;
    position: relative;
    }
    .verde {
    background-color: #66CC99;
    }
    .azul {
    background-color:#6699FF;
    }